/* src/datepicker-custom.css */
#custom-datepicker .react-datepicker {
	@apply !border-none !w-full p-2 shadow-combined-shadow rounded-lg;
}

#custom-datepicker .react-datepicker__header {
	background: transparent !important;
	border-bottom: none;
}

#custom-datepicker .react-datepicker__current-month {
	color: #020617;
	font-weight: 500;
	font-family:
		General Sans,
		sans-serif;
	font-size: 16px;
	margin-bottom: 10px !important;
}

#custom-datepicker .react-datepicker__day {
	width: 36px;
	height: 36px;
	line-height: 18.9px;
	font-size: 14px;
	margin: 0;
	font-family:
		General Sans,
		sans-serif;
}

#custom-datepicker .react-datepicker__day-name {
	font-size: 12px;
	font-weight: 500;
	color: #64748b;
}

#custom-datepicker .react-datepicker__day--selected {
	@apply !bg-red-900 !text-white;
}

#custom-datepicker .react-datepicker__day {
	@apply flex items-center justify-center rounded-full h-9 w-9 relative text-sm font-semibold text-gray-500;
}
#custom-datepicker .react-datepicker__day:hover {
	@apply bg-blue-200 bg-red-900 rounded-full;
}

#custom-datepicker .react-datepicker__day--keyboard-selected {
	@apply bg-transparent;
}

#custom-datepicker .react-datepicker__day--outside-month {
	@apply text-gray-400;
}

#custom-datepicker .react-datepicker__day--disabled {
	@apply !cursor-not-allowed !bg-transparent text-gray-200;
}

#custom-datepicker .react-datepicker__month-container {
	width: 100%;
}

#custom-datepicker .react-datepicker__day-names,
#custom-datepicker .react-datepicker__week {
	display: flex;
	justify-content: space-between;
}
